$color : lightblue;
$font: 30px;
$fonts:arial;

* {
    background-color:$color;
}

body {
    text-align: center;
    color: $color;
    font-size: $font;
    margin: $font;
    padding: $font;
    font-family: $fonts;
}

h1 {
    font-size:100px;
    padding:10px;
    text-align:center;
    background-color:red !important;
}

p {
    color:blue;
    border-style:dotted;
    border-radius:50%;
    border-width:$font;
}
