$color : lightblue;
$font: 30px;
$fonts:arial;

@mixin theme($theme: Blue) {
    background: $theme;
    color: black;
    font-size:50px;
}

#pole{
    @include theme($theme:red);
}

.info {
    @include theme;
  }

* {
    background-color:$color;
}

body {
    text-align: center;
    color: $color;
    font-size: $font;
    margin: $font;
    padding: $font;
    font-family: $fonts;

    article{
        p{
            color:black;
        }
    }

    article{
        h2{
            color:brown;
        }
    }
}

h2 {
    font-size:100px;
    padding:10px;
    text-align:center;
    background-color:green !important;
}

p {
    color:blue;
    border-style:dotted;
    border-radius:50%;
    border-width:$font;
}


