$font: 50px;
$fonts:arial;
$color:orange;
$theme:purple;
@mixin back($theme: purple) {
    background: $theme;
    color: black;
    font-size:50px;
}
@mixin theme($theme: Grey) {
    font-size:40px;
    border-style:solid;
}
@mixin border($theme: cyan) {
    font-size:40px;
    border-style:dashed;
    box-shadow: 100 200 10px rgba($theme, .25);
    margin:$font;
}

#jup{
    @include border;
    padding:$font;

    h2{
        font-family:Oswald;
    }
}
.dropdown-menu{
    width:1800px;
    li{
        text-align:center;
    }
}

#dash{
    @include border;
}
#sash{
    @include border;
}

#pole{
    @include back($theme:purple);
}

.info {
    @include theme($theme:purple);
  }

.btn-secondary{
    width:1800px;
font-size:50px;
}

body {
    text-align: center;
    color: $color;
    font-size: $font;
    margin: $font;
    padding: $font;
    font-family: $fonts;

    article{
        p{
            color:black;
        }
    }

    article{
        h2{
            color:brown;
        }
    }
}

h2 {
    font-size:$font;
    padding:10px;
    text-align:center;
}

.nav-item{
    font-size:30px;
}

.bi {
    font-size:70px;
}

#lol {
    font-size:$font;
    text-align:center;
}
